﻿@model PrismAdminAPI.Models.Section
@{
    ViewBag.Title = "Add Section";
}
<link rel="stylesheet" href="../../ThemeContent/plugins/datatables-bs4/css/dataTables.bootstrap4.css">
<div class="wrapper">
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1>Section</h1>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item active">Add Section</li>
                        </ol>
                    </div>
                </div>
            </div><!-- /.container-fluid -->
        </section>
        <!-- Main content -->
        <section class="content">
            <div class="row">
                <div class="col-12">
                    <!-- /.card -->
                    <div class="card">
                        <div class="card-header">
                            <div class="row mb-2">
                                <div class="col-sm-6">
                                    <h3 class="card-title">Add Section</h3>
                                </div>
                                <div class="col-sm-6">
                                    <a href="/sectionlist" class="btn btn-danger float-right">Section List</a>
                                </div>
                            </div>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            @using (Html.BeginForm("InsertSection", "Section"))
                            {
                                @Html.ValidationSummary(true);
                            <div class="card-body">
                                <div class="form-group">
                                    @Html.LabelFor(m => m.SectionName)
                                    @Html.TextBoxFor(m => m.SectionName, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.SectionName, null, new { @class = "danger" })
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(m => m.Description)
                                    @Html.TextBoxFor(m => m.Description, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.Description, null, new { @class = "danger" })
                                </div>
                                <div class="form-group">
                                    <div class="custom-control custom-checkbox">
                                        @Html.CheckBoxFor(m => m.IsStandardSection, new { @class = "custom-control-input", })
                                        @Html.LabelFor(m => m.IsStandardSection, new { @class = "custom-control-label", })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="custom-control custom-checkbox">
                                        @Html.CheckBoxFor(m => m.IsChapterSection, new { @class = "custom-control-input", })
                                        @Html.LabelFor(m => m.IsChapterSection, new { @class = "custom-control-label", })
                                    </div>
                                </div>
                            </div>
                                <!-- /.card-body -->
                                <div class="card-footer">
                                    <button type="submit" class="btn btn-primary">Submit</button>
                                </div>
                            }
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </section>
        <!-- /.content -->
    </div>
   
</div>


