﻿@model IEnumerable<PrismAdminAPI.Models.Section>
@{
    ViewBag.Title = "List Section";
}
<link rel="stylesheet" href="../../ThemeContent/plugins/datatables-bs4/css/dataTables.bootstrap4.css">
<div class="wrapper">
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1>Section</h1>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item active">Section List</li>
                        </ol>
                    </div>
                </div>
            </div><!-- /.container-fluid -->
        </section>
        <!-- Main content -->
        <section class="content">
            <div class="row h-100 d-none" id="divAlertMessage">
                <div class="col-sm-12 alert alert-dismissible">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    <h5><i class="icon fas fa-ban"></i> Alert!</h5>
                    <span class="textMessage"></span>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <!-- /.card -->
                    <div class="card">
                        <div class="card-header">
                            <div class="row mb-2">
                                <div class="col-sm-6">
                                    <h3 class="card-title">Section List</h3>
                                </div>
                                <div class="col-sm-6">
                                    <a href="/addsection" class="btn btn-primary float-right">Add Section</a>
                                </div>
                            </div>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            <table id="tblSection" class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th>Section Id</th>
                                        <th>Section Name</th>
                                        <th>Description</th>
                                        <th>Active/Deactive</th>
                                        <th>Section For <br /> Standard</th>
                                        <th>Section For <br /> Chapter</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                    <tr>
                                        <td>@item.SectionId</td>
                                        <td>@item.SectionName</td>
                                        <td>@item.Description</td>
                                        <td>
                                            @{
                                                string _isActive = item.IsActive == true ? "checked" : "";
                                            }
                                            <div class="custom-control custom-checkbox">
                                                <input class="custom-control-input" data-serialid="@item.SectionId" onclick="ActiveDeactive(this)" type="checkbox" id="chkSection-@item.SectionId" @_isActive>
                                                <label for="chkSection-@item.SectionId" class="custom-control-label"></label>
                                            </div>
                                        </td>
                                        <td>
                                            @{
                                                string _isStandardSection = item.IsStandardSection == true ? "checked" : "";
                                            }
                                            <div class="custom-control custom-checkbox">
                                                <input class="custom-control-input" data-serialid="@item.SectionId" onclick="ActiveDeactiveStandardSection(this)" type="checkbox" id="chkStandardSection-@item.SectionId" @_isStandardSection>
                                                <label for="chkStandardSection-@item.SectionId" class="custom-control-label"></label>
                                            </div>
                                        </td>
                                        <td>
                                            @{
                                                string _isChapterSection = item.IsChapterSection == true ? "checked" : "";
                                            }
                                            <div class="custom-control custom-checkbox">
                                                <input class="custom-control-input" data-serialid="@item.SectionId" onclick="ActiveDeactiveChapterSection(this)" type="checkbox" id="chkChapterSection-@item.SectionId" @_isChapterSection>
                                                <label for="chkChapterSection-@item.SectionId" class="custom-control-label"></label>
                                            </div>
                                        </td>
                                        <td>
                                            <button class="btn btn-link" onclick="javascript: location.href= 'editsection/@item.SectionId'">Edit</button>
                                        </td>
                                    </tr>
                                    }
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th>Section Id</th>
                                        <th>Section Name</th>
                                        <th>Description</th>
                                        <th>Active/Deactive</th>
                                        <th>Section For <br /> Standard</th>
                                        <th>Section For <br /> Chapter</th>
                                        <th>Action</th>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </section>
        <!-- /.content -->
    </div>
    <script src="../../ThemeContent/plugins/datatables/jquery.dataTables.js"></script>
    <script src="../../ThemeContent/plugins/datatables-bs4/js/dataTables.bootstrap4.js"></script>
    <script src="~/ThemeScript/Section.js"></script>
    <script>

        var _urlActiveDeactiveSection = '@Url.Action("ActiveDeactiveSection", "Section")';
        var _urlActiveDeactiveStandardSection = '@Url.Action("ActiveDeactiveStandardSection", "Section")';
        var _urlActiveDeactiveChapterSection= '@Url.Action("ActiveDeactiveChapterSection", "Section")';
        $(function () {
            $('#tblSection').DataTable({
                "paging": true,
                "lengthChange": true,
                "searching": true,
                "ordering": true,
                "info": true,
                "autoWidth": false,
            });
        });


    </script>
</div>


