﻿@model IEnumerable<PrismAdminAPI.Models.Chapter>
@{
    ViewBag.Title = "Subject List";
}
<link rel="stylesheet" href="../../ThemeContent/plugins/datatables-bs4/css/dataTables.bootstrap4.css">
<div class="wrapper">
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1>Chapter List</h1>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item active">Chapter List</li>
                        </ol>
                    </div>
                </div>
            </div><!-- /.container-fluid -->
        </section>
        <!-- Main content -->
        <section class="content">
            <div class="row h-100 d-none" id="divAlertMessage">
                <div class="col-sm-12 alert alert-dismissible">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    <h5><i class="icon fas fa-ban"></i> Alert!</h5>
                    <span class="textMessage"></span>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <!-- /.card -->
                    <div class="card">
                        <div class="card-header">
                            <div class="row mb-2">
                                <div class="col-sm-6">
                                    <h3 class="card-title">Chapter List</h3>
                                </div>
                                <div class="col-sm-6">
                                    <a href="/addchapter" class="btn btn-danger float-right">Add Chapter</a>
                                </div>
                            </div>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            <table id="tblSubject" class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th>Chapter Name</th>
                                        <th>Chapter Icon</th>
                                        <th>Standard Name</th>
                                        <th>Medium Name</th>
                                        <th>Subject Name</th>
                                        <th>Active/Deactive</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var chapter in Model)
                                    {
                                    <tr>
                                        <td>@chapter.ChapterName</td>
                                        <td>
                                            @{
                                                var imgsrc = string.Format("data:image/jpg;base64,{0}", chapter.ChapterImage);
                                            }
                                            <img src='@imgsrc' style="max-width:100px;max-height:100px" />
                                        </td>
                                        <td>@chapter.StandardName</td>
                                        <td>@chapter.MediumName</td>
                                        <td>@chapter.SubjectName</td>
                                        <td>
                                            @{
                                                string _isActive = chapter.IsActive == true ? "checked" : "";
                                            }
                                            <div class="custom-control custom-checkbox">
                                                <input class="custom-control-input" data-serialid="@chapter.StandardId" onclick="ActiveDeactive(this)" type="checkbox" id="chkChapter-@chapter.ChapterId" @_isActive>
                                                <label for="chkChapter-@chapter.ChapterId" class="custom-control-label"></label>
                                            </div>
                                        </td>
                                        <td>
                                            <button class="btn btn-link" onclick="javascript: location.href= 'editchapter/@chapter.ChapterId'">Edit</button>
                                        </td>
                                    </tr>
                                    }
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th>Chapter Name</th>
                                        <th>Chapter Icon</th>
                                        <th>Standard Name</th>
                                        <th>Medium Name</th>
                                        <th>Subject Name</th>
                                        <th>Active/Deactive</th>
                                        <th>Action</th>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </section>
        <!-- /.content -->
    </div>
    <script src="../../ThemeContent/plugins/datatables/jquery.dataTables.js"></script>
    <script src="../../ThemeContent/plugins/datatables-bs4/js/dataTables.bootstrap4.js"></script>
    <script src="~/ThemeScript/Subject.js"></script>
    <script>
        var _urlActiveDeactiveSubject='@Url.Action("ActiveDeactiveSubject", "Subject")'
        $(function () {
            $('#tblSubject').DataTable({
                "paging": true,
                "lengthChange": true,
                "searching": true,
                "ordering": true,
                "info": true,
                "autoWidth": false,
            });
        });
    </script>
</div>


