﻿@model PrismAdminAPI.Models.LnkCouponDetails
@{
    ViewBag.Title = "Assign Sponsorer";
}
<h2>Assign Sponsorer</h2>

<link rel="stylesheet" href="../../ThemeContent/plugins/datatables-bs4/css/dataTables.bootstrap4.css">

<div class="wrapper">
    <div class="content-wrapper">
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1>Add Coupon</h1>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item active">Assign Sponsorer</li>
                        </ol>
                    </div>
                </div>
            </div><!-- /.container-fluid -->
        </section>

        <section class="content">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <div class="row mb-2">
                                <div class="col-sm-6">
                                    <h3 class="card-title">Assign Sponsorer</h3>
                                </div>
                            </div>
                        </div>
                        <div class="form-horizontal">
                            @using (Html.BeginForm("AssignSponsorerCoupon", "Sponsorer", FormMethod.Post, new { enctype = "multipart/form-data", role = "form" }))
                            {
                                @Html.ValidationSummary(true);
                                <div class="card-body">
                                    <div class="form-group row">
                                        <label class="col-sm-3 col-form-label">Select Sponsorer</label>
                                        <div class="col-sm-8">
                                            @Html.DropDownListFor(m => m.SponsorerId, Model.SponsorersList, "-- Select Sponsorer --", new { @class = "form-control ddlSponsorer", id ="sponsorerId" , name = "sponsorerId" })
                                            @Html.ValidationMessageFor(m => m.SponsorerId, null, new { @class = "danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <div class="form-group row">
                                        <label class="col-sm-3 col-form-label">From Coupon Id</label>
                                        <div class="col-sm-8">
                                            <input type="text" id="fromCouponId" name="fromCouponId" class="form-control" />
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <div class="form-group row">
                                        <label class="col-sm-3 col-form-label">To Coupon Id</label>
                                        <div class="col-sm-8">
                                            <input type="text" id="toCouponId" name="toCouponId" class="form-control" />
                                        </div>
                                    </div>
                                </div>
                                <div class="card-footer">
                                    <button type="submit" class="btn btn-primary">Submit</button>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
