﻿@model PrismAdminAPI.Models.Sponsorer
@{
    ViewBag.Title = "Edit Sponserer";
}
<link rel="stylesheet" href="../../ThemeContent/plugins/datatables-bs4/css/dataTables.bootstrap4.css">
<div class="wrapper">
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1>Sponsorer</h1>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item active">Add Chapter</li>
                        </ol>
                    </div>
                </div>
            </div><!-- /.container-fluid -->
        </section>
        <!-- Main content -->
        <section class="content">
            <div class="row">
                <div class="col-12">
                    <!-- /.card -->
                    <div class="card">
                        <div class="card-header">
                            <div class="row mb-2">
                                <div class="col-sm-6">
                                    <h3 class="card-title">Edit Sponsorer</h3>
                                </div>
                                <div class="col-sm-6">
                                    <a href="Sponsorer/ListSponsorer" class="btn btn-danger float-right">Sponsorer List</a>
                                </div>
                            </div>
                        </div>
                        <!-- /.card-header -->
                        <div class="form-horizontal">
                            <div class="card-body">
                                @using (Html.BeginForm("UpdateSponsorer", "Sponsorer", FormMethod.Post, new { enctype = "multipart/form-data", role = "form" }))
                                {
                                    @Html.ValidationSummary(true);
                                    @Html.HiddenFor(m => m.SponsorerId);
                                    @Html.HiddenFor(m => m.IsActive);
                                    <div class="card-body">
                                        <div class="form-group row">
                                            @Html.LabelFor(m => m.SponsorerName, new { @class = "col-sm-2 col-form-label" })
                                            <div class="col-sm-5">
                                                @Html.TextBoxFor(m => m.SponsorerName, new { @class = "form-control" })
                                                @Html.ValidationMessageFor(m => m.SponsorerName, null, new { @class = "danger" })
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            @Html.LabelFor(m => m.LandingImageFile, new { @class = "col-sm-2 col-form-label" })
                                            <div class="col-sm-5">
                                                <div class="custom-file">
                                                    @Html.TextBoxFor(m => m.LandingImageFile, new { type = "file", @class = "custom-file-input", accept = "image/*", onchange = "loadFile(event,'landingImage')" })
                                                    <label class="custom-file-label" for="customFile">Choose file</label>
                                                </div>
                                            </div>
                                            <div class="col-sm-5">
                                                <img id="landingImage" src="@WebConfig.DefaultImage" width="100" height="100" />
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            @Html.LabelFor(m => m.ThumbnailImageFile, new { @class = "col-sm-2 col-form-label" })
                                            <div class="col-sm-5">
                                                <div class="custom-file">
                                                    @Html.TextBoxFor(m => m.ThumbnailImageFile, new { type = "file", @class = "custom-file-input", accept = "image/*", onchange = "loadFile(event,'thumbnailImage')" })
                                                    <label class="custom-file-label" for="customFile">Choose file</label>
                                                </div>
                                            </div>
                                            <div class="col-sm-5">
                                                <img id="thumbnailImage" src="@WebConfig.DefaultImage" width="100" height="100" />
                                            </div>
                                        </div>
                                    </div>
                                    <!-- /.card-body -->
                                    <div class="card-footer">
                                        <button type="submit" class="btn btn-primary">Submit</button>
                                    </div>
                                }
                            </div>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </section>
        <!-- /.content -->
    </div>

</div>
<script src="~/ThemeContent/plugins/bs-custom-file-input/bs-custom-file-input.min.js"></script>

<script>

    var loadFile = function (event, imgId) {
        var image = document.getElementById(imgId.toString());
        image.src = "";
        image.src = URL.createObjectURL(event.target.files[0]);
        image.clientHeight = 200;
        image.clientWidth = 200;
    };
</script>

