﻿@model PrismAdminAPI.Models.Subject
@{
    ViewBag.Title = "Edit Subject";
}
<link rel="stylesheet" href="../../ThemeContent/plugins/datatables-bs4/css/dataTables.bootstrap4.css">
<div class="wrapper">
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1>Subject</h1>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item active">Edit Subject</li>
                        </ol>
                    </div>
                </div>
            </div><!-- /.container-fluid -->
        </section>
        <!-- Main content -->
        <section class="content">
            <div class="row">
                <div class="col-12">
                    <!-- /.card -->
                    <div class="card">
                        <div class="card-header">
                            <div class="row mb-2">
                                <div class="col-sm-6">
                                    <h3 class="card-title">Edit Subject</h3>
                                </div>
                                <div class="col-sm-6">
                                    <a href="/subjectlist" class="btn btn-danger float-right">Subject List</a>
                                </div>
                            </div>
                        </div>
                        <!-- /.card-header -->
                        <div class="form-horizontal">


                            <div class="card-body">
                                @using (Html.BeginForm("UpdateSubject", "Subject", FormMethod.Post, new { enctype = "multipart/form-data", role = "form" }))
                                {
                                    @Html.ValidationSummary(true);
                                    @Html.HiddenFor(m => m.SubjectId)
                                    @Html.HiddenFor(m => m.MediumIdList)
                                    <div class="card-body">
                                        <div class="form-group row">
                                            @Html.LabelFor(m => m.SubjectName, new { @class = "col-sm-2 col-form-label" })
                                            <div class="col-sm-10">
                                                @Html.TextBoxFor(m => m.SubjectName, new { @class = "form-control" })
                                                @Html.ValidationMessageFor(m => m.SubjectName, null, new { @class = "danger" })
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            @Html.LabelFor(m => m.StandardId, new { @class = "col-sm-2 col-form-label" })
                                            <div class="col-sm-10">
                                                @Html.DropDownListFor(m => m.StandardId, Model.StandardList, "-- Select Standard --", new { @class = "form-control ddlStandard" })
                                                @Html.ValidationMessageFor(m => m.StandardId, null, new { @class = "danger" })
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            @Html.LabelFor(m => m.MediumIdList, new { @class = "col-sm-2 col-form-label" })
                                            @Html.HiddenFor(m => m.MediumIdList)
                                            <div class="col-sm-10 div-configured-mediums">
                                                Configured Medium List (Please select standard)
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            @Html.LabelFor(m => m.Description, new { @class = "col-sm-2 col-form-label" })
                                            <div class="col-sm-10">
                                                @Html.TextBoxFor(m => m.Description, new { @class = "form-control" })
                                                @Html.ValidationMessageFor(m => m.Description, null, new { @class = "danger" })
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            @Html.LabelFor(m => m.SubjectThumbnail, new { @class = "col-sm-2 col-form-label" })
                                            <div class="col-sm-5">
                                                <div class="custom-file">
                                                    @Html.TextBoxFor(m => m.SubjectThumbnail, new { type = "file", @class = "custom-file-input", accept = "image/*", onchange = "loadFile(event)" })
                                                    <label class="custom-file-label" for="customFile">Choose file</label>
                                                </div>
                                            </div>
                                            <div class="col-sm-5">
                                                @if (Model.SubjectViewModel.SubjectThumbnail == null)
                                                {
                                                    <img id="imgSubjectUploadedFile" src="~/ThemeImages/eballogo.gif" width="100" height="100" />
                                                }
                                                else
                                                {
                                                    var base64 = Convert.ToBase64String(Model.SubjectViewModel.SubjectThumbnail);
                                                    var imgsrc = string.Format("data:image/jpg;base64,{0}", base64);
                                                    <img id="imgSubjectUploadedFile" src='@imgsrc' width="100" height="100" />
                                                }
                                            </div>
                                        </div>
                                    </div>
                                    <!-- /.card-body -->
                                    <div class="card-footer">
                                        <button type="submit" class="btn btn-primary">Submit</button>
                                    </div>
                                }
                            </div>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </section>
        <!-- /.content -->
    </div>

</div>
<script src="~/ThemeContent/plugins/bs-custom-file-input/bs-custom-file-input.min.js"></script>
<script src="~/ThemeScript/Subject.js"></script>

<script>
    var _urlGetMediumsBySubjectId = '@Url.Action("GetMediumsBySubjectId", "Subject")';

    var loadFile = function (event) {
        var image = document.getElementById('imgSubjectUploadedFile');
        image.src = "";
        image.src = URL.createObjectURL(event.target.files[0]);
        image.clientHeight = 200;
        image.clientWidth = 200;
    };
</script>

