﻿@model IEnumerable<PrismAdminAPI.ViewModel.SubjectViewModel>
@{
    ViewBag.Title = "Subject List";
}

@{
    var _subjectIdList = Model.Select(x => new {x.SubjectId}).Distinct();
}
<link rel="stylesheet" href="../../ThemeContent/plugins/datatables-bs4/css/dataTables.bootstrap4.css">
<div class="wrapper">
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1>Subject List</h1>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item active">Subject List</li>
                        </ol>
                    </div>
                </div>
            </div><!-- /.container-fluid -->
        </section>
        <!-- Main content -->
        <section class="content">
            <div class="row h-100 d-none" id="divAlertMessage">
                <div class="col-sm-12 alert alert-dismissible">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    <h5><i class="icon fas fa-ban"></i> Alert!</h5>
                    <span class="textMessage"></span>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <!-- /.card -->
                    <div class="card">
                        <div class="card-header">
                            <div class="row mb-2">
                                <div class="col-sm-6">
                                    <h3 class="card-title">Subject List</h3>
                                </div>
                                <div class="col-sm-6">
                                    <a href="/subjectadd" class="btn btn-danger float-right">Add Subject</a>
                                </div>
                            </div>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            <table id="tblSubject" class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th>Subject Name</th>
                                        <th>Subject Icon</th>
                                        <th>Standard</th>
                                        <th>Mediums Configured</th>
                                        <th>Active/Deactive</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var subject in _subjectIdList)
                                    {
                                        var subjectDetails = Model.Where(x => x.SubjectId == subject.SubjectId)
                                            .Select(x =>
                                                new
                                                {
                                                    SubjectId = x.SubjectId,
                                                    SubjectName = x.SubjectName,
                                                    IsSubjectActive = x.IsSubjectActive,
                                                    StandardId = x.StandardId,
                                                    StandardName = x.StandardName,
                                                    SubjectThumbnail = x.SubjectThumbnail

                                                }
                                            ).FirstOrDefault();

                                        var mediumList = Model.Where(x => x.SubjectId == subject.SubjectId && x.IsSubjectMediumActive == true).Select(x =>
                                                  new
                                                  {
                                                      MediumId = x.MediumId,
                                                      MediumName = x.MediumName,
                                                      IsSubjectMediumActive = x.IsSubjectMediumActive
                                                  }
                                            ).ToList();

                                        <tr>
                                            <td>@subjectDetails.SubjectName</td>
                                            <td>
                                                @{
                                                    var base64 = Convert.ToBase64String(subjectDetails.SubjectThumbnail);
                                                    var imgsrc = string.Format("data:image/jpg;base64,{0}", base64);
                                                }
                                                <img src='@imgsrc' style="max-width:100px;max-height:100px" />
                                            </td>
                                            <td>@subjectDetails.StandardName</td>
                                            <td>
                                                @foreach (var medium in mediumList)
                                                {
                                                    <label>@medium.MediumName</label>
                                                    <br />
                                                }
                                            </td>
                                            <td>
                                                @{
                                                    string _isActive = subjectDetails.IsSubjectActive == true ? "checked" : "";
                                                }
                                                <div class="custom-control custom-checkbox">
                                                    <input class="custom-control-input" data-serialid="@subjectDetails.SubjectId" onclick="ActiveDeactive(this)" type="checkbox" id="chkSubject-@subjectDetails.SubjectId" @_isActive>
                                                    <label for="chkSubject-@subjectDetails.SubjectId" class="custom-control-label"></label>
                                                </div>
                                            </td>
                                            <td>
                                                <button class="btn btn-link" onclick="javascript: location.href= 'editsubject/@subjectDetails.SubjectId'">Edit</button>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th>Subject Name</th>
                                        <th>Subject Icon</th>
                                        <th>Standard</th>
                                        <th>Mediums Configured</th>
                                        <th>Active/Deactive</th>
                                        <th>Action</th>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </section>
        <!-- /.content -->
    </div>
    <script src="../../ThemeContent/plugins/datatables/jquery.dataTables.js"></script>
    <script src="../../ThemeContent/plugins/datatables-bs4/js/dataTables.bootstrap4.js"></script>
    <script src="~/ThemeScript/Subject.js"></script>
    <script>
        var _urlActiveDeactiveSubject='@Url.Action("ActiveDeactiveSubject", "Subject")'
        $(function () {
            $('#tblSubject').DataTable({
                "paging": true,
                "lengthChange": true,
                "searching": true,
                "ordering": true,
                "info": true,
                "autoWidth": false,
            });
        });
    </script>
</div>


